@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  border-radius: 0;
  background: #f7f7f9;
  position: absolute;
}

.background-image {
  background-image: url("./portfolio-icons/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
}

a {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #6070ff;
  margin-left: 30px;
}

.container {
  padding: 100px 24px 100px 24px;
}

.greetings {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #172b4d;
  line-height: 30px;
  align-items: center;
}

.intro {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: -1px;
  color: #344563;
}

.intro:hover {
  color: #6070ff;
}

h2 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.container h2 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.media-links {
  display: flex;
  list-style-type: none;
  margin-left: -50px;
}

.media-links a {
  color: #505f79;
  margin-inline: 10px;
  font-size: 25px;
}

.snapshoot-container {
  height: auto;
  background: #fff;
  border-radius: 16px;
  padding: 16px;
}

.snapshoot-1 {
  background-image: url('./portfolio-icons/mobile1.png');
  background-repeat: no-repeat;
  height: 220px;
  margin-bottom: 15px;
  margin-left: 10px;
}
.snapshoot-2 {
  background-image: url('./portfolio-icons/mobile2.png');
  background-repeat: no-repeat;
  height: 220px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.snapshoot-3 {
  background-image: url('./portfolio-icons/mobile3.png');
  background-repeat: no-repeat;
  height: 220px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.snapshoot-4 {
  background-image: url('./portfolio-icons/mobile4.jpg');
  background-repeat: no-repeat;
  height: 220px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.myself {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-left: 13px;
}

.lang > .all-lang {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin-left: -40px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  color: #000;
}

.framework-1 > .frame-header-1 {
  margin-left: -40px;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 500;
  color: #000;
}

.framework-2 > .frame-header-2 {
  margin-left: -40px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  color: #000;
  margin-top: 20px;
}

h3 {
  width: 295px;
  height: 25px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
  margin-top: -10px;
  font-style: normal;
  margin-left: 12px;
}

.canopy-section > ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  color: #7a869a;
  margin-left: -5px;
}

.canopy {
  margin-left: -20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #344563;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
}

i:hover {
  color: #6070ff;
}

li:hover {
  color: #6070ff;
}

.my-p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 15px;
  margin-left: 15px;
}

.my-p:hover {
  color: #6070ff;
}

.stacks li {
  align-items: center;
  width: 49px;
  height: 22px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  list-style-type: none;
  color: #6070ff;
}

.menu-list li {
  transition: 0.7s ease;
}

.canopy-section > ul > li {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.canopy-section-3 > ul > li {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.canopy-section > ul > li > svg {
  margin-inline: 12px;
  margin-left: -10px;
}

.stacks {
  display: flex;
  padding: 4px 12px;
  margin-left: -6px;
  margin-top: 0;
  color: #6070ff;
}

.my-stacks > ul > li {
  display: flex;
  list-style-type: none;
  height: 55px;
  background: #f7f7f9;
  margin-left: -35px;
  width: 310px;
  border-radius: 8px;
}

.about-myself a {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #505f79;
  margin-inline: 10px;
  font-size: 25px;
}

.button > a {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-style: normal;
  font-size: 17px;
  align-items: center;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.3em;
  color: #6070ff;
}

.my-stacks > ul > li > a {
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 18px 18px 18px 18px;
  margin-inline: 16px;
  color: #253858;
}

.resume > .button > a {
  text-decoration: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  display: flex;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding-left: 8px;
  line-height: 40px;
}

.button {
  line-height: 40px;
  margin-left: 13px;
  border: 1px solid #396df2;
  border-radius: 16px;
  background: #fff;
  align-items: center;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #6070ff;
  margin-top: 20px;
}

button:hover,
.button:hover {
  background-color: #6070ff;
  color: #dfe1e6;
}

.snapshoot-container > .flex > .stacks > li a {
  background-color: #ebebff;
  text-decoration: none;
  color: #6070ff;
}

.button:active {
  background-color: #2230d2;
}

.button:disabled {
  color: #5e6c84;
}

.snapshoot-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  height: auto;
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  margin-top: 100px;
  margin-bottom: -10px;
}

.bld {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
  margin-top: -10px;
  font-style: normal;
  margin-left: 15px;
}

.btn-lang ul {
  display: flex;
  list-style-type: none;
  margin-left: -30px;
  margin-top: 30px;
}

.lang-btn {
  padding: 12px 6px 12px 6px;
  margin-inline: 5px;
  color: #6070ff;
  background-color: #ebebff;
  font-size: 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 8px;
  border: none;
}

.lang-stacks-section {
  display: grid;
}

.about-section {
  height: auto;
  background: #fff;
  padding: 16px 16px 16px 16px;
  margin: 100px 10px 10px 10px;
  border-top-right-radius: 80px;
}

.about-section h3 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  width: 117px;
  display: inline;
  margin-left: 13px;
}

.about-myself > ul {
  display: flex;
  list-style-type: none;
  margin-left: -40px;
}

.lang {
  display: flex;
  gap: 100px;
  list-style-type: none;
  height: 24px;
  margin-top: 40px;
  margin-left: 12px;
}

.lang > li > a > i {
  text-decoration: none;
  width: 20px;
  position: absolute;
  right: 25%;
  font-size: 25px;
  color: #172b4d;
}

.my-stacks {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}

.home-shape img {
  align-items: center;
  height: 5px;
  width: 130px;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-left: 120px;
  background-color: #0d151e;
  border-radius: 8px;
}

.my-stacks > ul > li > img {
  width: 50px;
  margin-left: 10px;
}

.framework-1 {
  display: flex;
  gap: 150px;
  list-style-type: none;
  height: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.framework-1 > li > a > i {
  text-decoration: none;
  font-size: 26px;
  margin-left: -30px;
  color: #000;
}

.framework-2 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  display: flex;
  gap: 210px;
  list-style-type: none;
  margin-top: 45px;
  border-top: 2px solid #dfe1e6;
  margin-left: 10px;
  border-bottom: 2px solid #dfe1e6;
}

.framework-2 > li > a > i {
  text-decoration: none;
  font-size: 26px;
  color: #000;
  margin-top: 20px;
  margin-left: -15px;
}

.form-container {
  background-image: url('./portfolio-icons/Contact-me.jpg');
  background-repeat: no-repeat;
  height: auto;
  margin-top: 20px;
}

.form-header {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-top: 50px;
  line-height: 52px;
  color: #fff;
  width: 100%;
  text-align: center;
  margin-bottom: -20px;
}

.form-p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebfff6;
  text-align: center;
  padding: 24px;
  width: 78%;
}

.input-name,
.input-email {
  width: 78%;
  margin-left: 16px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 16px;
  color: #172b4d;
  font-size: 17px;
  font-weight: 400;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 16px 15px;
}

.form-btn {
  border: 1px solid #cfd8dc;
  height: 44px;
  width: 142px;
  border-radius: 8px;
  margin-bottom: 16px;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 16px;
}

.text-area {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  border-radius: 8px;
  background: #fff;
  color: #b3bac5;
  border: 1px solid #cfd8dc;
  line-height: 24px;
  margin-bottom: 16px;
  width: 78%;
  margin-left: 16px;
  padding: 15px 16px;
}

label {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-list {
  list-style-type: none;
}

.menu {
  color: #fff;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
    padding-right: 30px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #fff;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #fff;
  }

  .menu-list {
    position: fixed;
    left: -100%;
    top: -16px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    transition: 0.3s;
    padding-top: 40px;
    padding-left: 20px;
  }

  .menu-list li {
    margin: 16px 0;
  }

  .menu-list.active {
    left: 0;
    background-color: #6070fff1;
    height: 100vh;
  }
}

@media only screen and (min-width: 768px) {
  .hamburger,
  .navbar i,
  .btn-lang,
  .home-shape,
  .toogle-bar {
    display: none;
  }

  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }

  .menu-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: -5px;
    margin-inline: 10px;
  }

  .menu {
    margin-right: 20px;
    font-size: 20px;
    color: #6070ff;
  }

  .menu:hover {
    color: #fff;
    background-color: #6070ff;
  }

  #background-image-2 {
    background-image: url('./portfolio-icons/header.png');
    background-repeat: no-repeat;
    height: 722px;
    background-size: 100%;
  }

  .container {
    padding: 180px 260px 0 160px;
  }

  .greetings {
    font-size: 48px;
    line-height: 60px;
  }

  .intro {
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    margin-left: -2px;
  }

  .intro:hover {
    color: #6070ff;
  }

  .container h2 {
    font-size: 16px;
    line-height: 24px;
  }

  .media-links {
    margin-top: 40px;
    margin-left: -50px;
  }

  .work-sections {
    margin: 142px 142px 142px 142px;
  }

  #snapshoot-1 {
    background-image: url('./portfolio-icons/desk1.jpg');
    background-repeat: no-repeat;
    height: 448px;
    margin-left: 10px;
    margin-top: 10px;
  }

  #flex-1 {
    display: grid;
    grid-template-columns: 1.3fr  1fr;
  }

  #flex-2 {
    display: grid;
    grid-template-columns: 1.3fr  1fr;
  }

  #flex-3 {
    display: grid;
    grid-template-columns: 1fr  1fr;
  }

  .page-2-image {
    order: 1;
  }

  .enssah {
    margin-top: 48px;
  }

  .snapshoot-container {
    padding-bottom: -70px;
  }

  #snapshoot-2 {
    background-image: url('./portfolio-icons/desk2.png');
    background-repeat: no-repeat;
    height: 448px;
    width: 500px;
  }

  .enssah-2 {
    margin-top: 25px;
    margin-left: 10px;
  }

  #bld-2 {
    width: 496px;
    font-size: 50px;
    height: 46px;
  }

  #background-2,
  #background {
    height: 450px;
    margin-bottom: 100px;
  }

  #background {
    height: 470px;
  }

  #snapshoot-3 {
    background-image: url('./portfolio-icons/desk3.png');
    background-repeat: no-repeat;
    height: 448px;
    margin-left: 10px;
    margin-top: 15px;
  }

  #background-3,
  #background-4 {
    height: 470px;
  }

  #my-page {
    height: 600px;
    padding-left: 130px;
    margin-top: -50px;
  }

  #snapshoot-4 {
    background-image: url('./portfolio-icons/desk4.png');
    background-repeat: no-repeat;
    height: 448px;
    width: 100%;
  }

  .me {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #form-bg {
    background: url('./portfolio-icons/contact-bg.png') #6070ff;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    border-top-left-radius: 120px;
  }

  #form-header-1 {
    margin-top: 142px;
    justify-content: center;
    width: 100%;
  }

  .form-p {
    text-align: center;
  }

  .form-box {
    padding: 320px;
    margin-top: -350px;
  }

  .contact-me {
    width: 70%;
    margin-left: 130px;
  }

  #screen-btn {
    margin-left: 170px;
    transition-duration: 2s;
  }

  #desktop-btn {
    border-radius: 8px;
    width: 140px;
    line-height: 24px;
    font-size: 17px;
    font-weight: 500;
    height: 50px;
    transition-duration: 2s;
  }

  #about-desktop-btn {
    border-radius: 8px;
    width: 30%;
    line-height: 24px;
    font-size: 17px;
    font-weight: 500;
    height: 50px;
  }

  #efm-2 {
    cursor: pointer;
    width: 5%;
    transition-duration: 2s;
    margin-left: 100px;
  }

  #efm-2:hover {
    font-size: 30px;
    color: gold;
    transform: rotate(360deg);
  }
}
